<!DOCTYPE html>
<html lang="de">


<head>
  <meta charset="UTF-8" />
  <title>Gym Dashboard - Pato Analytics</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Vendor CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

  <!-- App CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>


<body class="bg-dark text-body">
  
  <div class="outer-wrapper">

    <!-- HEADER -->
    <div class="container-fluid py-2 border-bottom border-secondary header-bar">
      <header class="d-flex justify-content-between align-items-center flex-wrap">
        <h1>Gym Dashboard</h1>  

        <div class="d-flex align-items-center">
          <span id="welcome-user" class="header-username text-white me-2"></span>
          <!-- Dropdown-Menü -->
          <div class="dropdown">
            <button id="menu-btn" class="btn btn-outline-light dropdown-toggle" 
                    data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-list"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="#">Account</a></li>
              <li><a class="dropdown-item" href="#" id="openModalBtn">Neuen Datensatz anlegen</a></li>
              <li><a class="dropdown-item" href="#">Datensätze bearbeiten</a></li>
            </ul>
          </div>
        </div>


      </header>
    </div>

    <!-- MAIN CONTENT -->
    <div class="container-fluid py-4">
      <main>
        {% block content %}{% endblock %}
      </main>
    </div>

    <!-- FOOTER -->
    <div class="container-fluid py-3 border-top border-secondary text-center text-white">
      <footer class="app-footer m-0">
        <small>&copy; 2025 Pato Analytics</small>
      </footer>
    </div>

  </div> 
  {% include "modal_person_select.html" %}

  <!-- Vendor JS -->
  <script src="https://cdn.plot.ly/plotly-2.35.2.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
  
  <!-- Bootstrap Bundle mit Modal -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

  {% block scripts %}{% endblock %}

</body>

</html>